/* AppComponent's private CSS styles */
h1, nav{
  padding: 0 10% 0 10%;
}

nav {
  border-bottom: 1px solid lightgray;
}

nav a {
  padding: 1rem;
  text-decoration: none;
  display: inline-block;
  background-color: #e8e8e8;
  color: #3d3d3d;
  border-radius: 40px;
  margin: 2px;
}

nav a:hover {
  background-color: lightgray;
}
nav a.active {
  background-color: black;
}
