<div class="heroes">
  <div class="heroes-header">
    <h1>Dashboard</h1>
  </div>
  <div class="heroes-list">
    <div *ngFor="let hero of heroes" class="hero-card hero-content-{{ hero.guild.id }}">
      <div class="hero-content-header">
        <div>{{ hero.name }}</div>
      </div>
      <div class="hero-content-main-info">
        <img src="assets/image/{{ hero.image }}" alt="Hero picture">
        <div class="hero-victories"><i class="fas fa-trophy"></i>  {{ hero.victories }}</div>
      </div>
    </div>
  </div>
</div>
