/* DashboardComponent's private CSS styles */

#global-wrapper {
  display: flex;
  justify-content: center;
}

h2 {
  text-align: center;
}

.list-title {
  color: darkgrey;
  font-size: 2rem;
  font-variant: all-small-caps;
  font-weight: bold;
  line-height: normal;
  margin: 0;
  text-align: center;
}

.list-end {
  cursor: pointer;
  text-decoration: underline;
  text-align: right;
  margin: 10px 20px 0px 0px;
}

.heroes-list:first-of-type {
  border-right: 1px solid lightgray;
  padding-right: 10px;
}

.heroes-list:last-of-type {
  padding-left: 20px;
}

.heroes-list {
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 850px;
  width: 665px;
}

.hero-card {
  height: 183px;
  min-width: 90px;
  width: 90px;
  margin: 10px 0 10px 0;
  padding: 20px 30px 10px 30px;
  align-items: center;
}

.hero-card:first-of-type {
  padding: 40px 60px 40px 60px;
  margin-left: 20px;
  margin-right: 20px;
  height: 600px;
  min-width: 300px;
}

.hero-card:last-of-type {
  margin-right: 0px;
}

.hero-content-header div:first-child {
  margin: 0;
}

.hero-card:not(:first-of-type) .hero-content-header div:first-child {
  font-size: 0.8rem;
  min-width: min-content;
  height: 25px;
}

.hero-content-main-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: min-content;
}
.hero-content-main-info img {
  border: none;
  margin: 0;
  padding: 40px 20px 40px 20px;
  height: 450px;
  width: auto;
}

.hero-card:not(:first-of-type) .hero-content-main-info img {
  padding: 0;
  width: auto;
  height: auto;
  max-height: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.hero-victories {
  font-size: 1.5rem;
}
.hero-card:nth-of-type(3) .hero-victories {
  color: #b85233;
}
.hero-card:nth-of-type(2) .hero-victories {
  color: silver;
}
.hero-card:first-of-type .hero-victories {
  font-size: 2rem;
  color: gold;
}
